
h1{
  text-align: center;
  font-size: 25vmin;
  color: white;
}


  #hours::after, #minutes::after{
    content: ":";
    padding-left: 20px;
  }

.secondbar{
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  transition: width 1s linear;
  height: 20px;
  background-color: white;
}
